@import 'antd/dist/antd.min.css';
@import "~bootstrap/scss/bootstrap";
.navbar {
    background-color: #e3f6f5;
    color: #272343;
    font-size: 16px;
    padding:10;
    display: 'flex';
    padding: 10px;
}
.cartNavbar{  
    margin-left: 15%;
    padding-bottom: 15px;
}
.avatarNavbar{
    margin-right: 30px;
}
.searchNavbar{
    margin-left: 20%;
}
img.logo{
    width: 60px;
    margin-right: 30px;
    margin-left: 30px;
}
.cursor-pointer{
    .bell-icon {
        color: #ffd803;
    }
}
.menuNavbar{
    padding: 10px;
    margin-top: 40px;
}
.user-icon-container {
    border-radius: 50%;
    background-color: #ffd803;
}
